.list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  .main-part {
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .section {
    padding: 94px 0px;
  }